NEXT_PUBLIC_SUPABASE_URL=https://lgznjgmwbfvjmmuabydh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxnem5qZ213YmZ2am1tdWFieWRoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAwNjczMjEsImV4cCI6MjEwNTY0MzMyMX0.iEDA0JzB3CqBLYqUAqRiQhIHV9ZCcmZ2jvM4z89PVII
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxnem5qZ213YmZ2am1tdWFieWRoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDA2NzMyMSwiZXhwIjoyMTA1NjQzMzIxfQ.18_isbMqouzUKQqBGtS1wy3C-enxaIvbWIJXwS_GnA0
RESEND_API_KEY=
EMAIL_FROM=
ADMIN_EMAIL=
SUPPORT_EMAIL=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=
MPESA_ENVIRONMENT=sandbox
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
